.content-wrapper {
  margin-left: 112px;
  margin-top: 0px;
  padding-top: 95px;

  .general-statistic {
    background-color: $brand-main-color;
    margin-top: 0;
    margin-bottom: 27px;
    margin-left: 132px;
    margin-right: 22px;
    padding: 0 0 15px 0;
    

    .calendar-container {  
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-height: 300px;
      max-width: 450px;
      margin: 40px 0 43px 408px;
      
      .calendar-wrapper {
        max-width: 400px;
        margin-right: 17px;
        border: 2px solid $border-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 2;
        max-height: 48px;

        p:first-of-type {
          padding-left: 18px;
        }

        p:last-of-type {
          margin-left: 0;
          padding: 7px 0 7px 19px;
          border-left: 1px solid $border-color;
        }
        
        img {
          height: 20px;
          width: 20px;
          padding-right: 5px;
          margin-right: 10px;
        }

        &:hover {
          border: 2px solid $paragraph-color;
          cursor: pointer;
        }
      }

      a {
        background-color: $button-color;
        height: 48px;
        width: 48px;
        border-radius: 3px;
        
        img {
          filter: invert(1);
          height: 20px;
          width: 20px;
          transform: translate(65%, 65%);
        }  
      }
    }

    .table-wrapper {
      display: flex;
      font-size: 20px;
      padding: 24px 17% 0 17%;
      font-family: $paragraph-font;
      color: $paragraph-color;
      border-top: 1px solid $border-color;
      
      .table-1 {
        height: 116px;
        flex: 50%;
        margin-right: 70px;

        .right-column {
          text-align: right;
        }

        td {
          border-bottom: 1px solid $border-color;
        }
      }

      .table-2 {
        flex: 50%;

        .right-column {
          text-align: right;
        }

        td {
          border-bottom: 1px solid $border-color;
        }
      }
    }

    .chart-wrapper {
      width: 70%;
      margin-left: 16%;
      padding-top: 57px;

      h3 {
        color: $paragraph-color;
        margin-bottom: 25px;
        margin-left: 15px;
      }

      img {
        max-width: 850px;
      }
    }
  }

  .general-links {
    background-color: $brand-main-color;
    margin-left: 132px;
    margin-right: 22px;

    .list-of-links {
      margin: 0 auto;
      width: 65%;

      table {
        height: 690px;
        width: 100%;
        border-spacing: 0;
        border-top: 1px solid $border-color;

        tr {  
          td {
            border-bottom: 1px solid $border-color;
            
            a {
              text-decoration: none;
              color: $link-color;
              font-size: 19px;
              letter-spacing: 0.9px;

              &:hover {
                color: $button-color;
              }
            }
            
            img {
              height: 20px;
              width: 20px;
              cursor: pointer;
              padding-top: 7px;
              filter: invert(50%);
              
              &:hover {
                filter: invert(48%) sepia(91%) saturate(1428%) hue-rotate(358deg) brightness(98%) contrast(109%);
              }
            }

            img:last-of-type {
              height: 25px;
            }
          }

          td:first-child{
            padding-left: 16px;
            font-size: 19px;
            padding-top: 0px;
            width: 46%;
            font-family: $paragraph-font;
            color: $paragraph-color;
          }

          td:nth-child(2) {
            width: 42%;
          }

          &:hover {
            background-color: $page-background-color;
          }
        }  
      }
    }

    .second-button {
      height: 70px;
    }
  }
}