h1, h2, h3, p{
  font-family: $paragraph-font;
}

.section-title {
  color: $section-title-color;
  font-size: 19px;
  border-bottom: 1px solid $border-color;
  padding: 17px 0 15px 20px;
  margin-top: 3px;
}

body{
  background-color: $page-background-color;
}

.wrapper{
  display: inline-flex;
  width: 100%;
}

.sidebar{
  width: 223px;
  margin-right: 0;
  position: fixed;
  z-index: 3;
}

.general-statistic{
  z-index: 1;
}

/*@media (max-width: 767px) {
  .wrapper {
    display: block;

    .sidebar {
      width: 100%;
    }

    .content-wrapper {
      width: 100%;
    }
  }  
}*/