/* Colors */
$section-title-color: #979797;
$paragraph-color: #889292;
$brand-main-color: #ffffff;
$page-background-color: #f5f5f2;
$sidebar-color: #282f26;
$sidebar-hover-color: #486141;
$button-color: #ff7b00;

/* Font sizes */
$paragraph-font-size: 14px;
$header-font-size: 16px;

/* Fonts */
$brand-font: 'Pattaya', sans-serif;
$paragraph-font: 'Open Sans', sans-serif;