.button-wrapper {  
  width: 150px;
  margin: 37px auto;
  
  .button-add {
    color: $brand-main-color;
    background-color: $button-color;
    font-size: 25px;
    padding: 10px 22px;
    border-radius: 3px;
    text-decoration: none;

    &:hover {
      transition: 1s;
      background-color: $button-hover-color;
    }
  }
}