.navigation{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  background-color: $brand-main-color;
  margin: 0;
  border-bottom: 2px solid $paragraph-color;
  height: 77px; 
  //align-items: center;

  .nav-amount{
    border-left: 1px solid $paragraph-color;
    border-right: 1px solid $paragraph-color;
    height: 100%;
  }
}