.navigation {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  background-color: $brand-main-color;
  margin: 0;
  border-bottom: 2px solid $border-color;
  height: 77px;
  z-index: 2;
  position: fixed;
  
  .nav-amount, .nav-notification, .nav-user, .nav-logout {
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    display: flex;
    align-items: center;

    img {
      height: 22px;
      width: 22px;
      filter: invert(50%);
    }

    &:hover {
      cursor: pointer;
      background-color: $page-background-color;
    }
  }
  
  .nav-amount {
    padding: 0 1px 0 21px;

    img {
      margin-right: 18px;
    }

    .arrow-down {
      height: 13px;
      width: 13px;
      margin-top: 8px;
    }

    span {
      margin-right: 25px;
      margin-top: 4px;
      font-size: 24px;
      letter-spacing: 0.73px;
      font-weight: bold;
    }
  }

  .nav-notification {
    padding: 0 23px 0 23px;
  }

  .nav-user {
    padding: 0 22px 0 21px;

    img {
      margin: 4px 16px 0 0;
    }

    p {
      font-size: 14px;
      letter-spacing: 0.13px;
      margin-top: 15px;
    }
  }

  .nav-logout {
    img {
      margin: 0 23px 0 25px;
    }
  }

  span, p {
    color: $paragraph-color;
  }
}